{require_otp_vsn, "R13B04|R14|R15"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps_dir, ["deps"]}.

{deps, [
    {cowboy, "0.6.*", {git, "git://github.com/extend/cowboy",{tag, "0.6.0"}}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes", {tag, "HEAD"}}},

    {nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core", {tag, "v2.1.0"}}},
    {nprocreg,      "0.2.*", {git, "git://github.com/nitrogen/nprocreg", {tag, "v0.2.0"}}},
    {simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge", {tag, "v1.2.0"}}},
    {sync,          "0.1.*", {git, "git://github.com/rustyio/sync.git", "master"}},

    {jimm_history_reader,".*", {git, "git://github.com/petrkozorezov/jimm_history_reader.git", "master"}}
]}.

{post_hooks, [{'get-deps', "./nprocreg_patch.sh"}]}.
